*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    /* background: linear-gradient(rgb(5,221,245), rgb(6,150,259)); */
    background:linear-gradient(#08132e,#3E497A) ;
}
.container{
    border: 1px solid #fff;
    height: 60%;
    width: 50%;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    perspective: 1000px;
    box-sizing: border-box;
}
.box{
    
    height: 250px;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 30%;
    transform-style: preserve-3d;
    animation: animate 5s infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    75%{
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
}
.card{
    border: 4px solid #fff;
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    background-color: #F1D00A;
    font-size: 2rem;
    font-weight: 1000;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s ease-in-out;
    border-radius: 5px;
}
#front{
    transform: translateZ(125px);
}
#back{
    transform: translateZ(-125px);
}
#left{
    right: 125px;
    transform: rotateY(-90deg);
}
#right{
    left: 125px;
    transform: rotateY(90deg);
}
#top{
    bottom: 125px;
    transform: rotateX(90deg);
}
#bottom{
    top: 125px;
    transform: rotateX(-90deg);
}
input{
    padding: 10px 20px;
    border: none;
    background-color: #F0F0F0;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    left: 170px;
    top: -100px;
}
input:hover{
    border: 2px solid #F1D00A;
    background-color: transparent;
    color: #F1D00A;
}
input:focus~ .box #front{
    transform: translateZ(180px) rotate(360deg);
}
input:focus~ .box #back{
    transform: translateZ(-180px) rotate(360deg);
}
input:focus~ .box #left{
    right: 180px;
}
input:focus~ .box #right{
    left: 180px;
}
input:focus~ .box #top{
    bottom: 180px;
}
input:focus~ .box #bottom{
    top: 180px;
}
@media screen and (max-width: 500px){
    .box{
        height: 250px;
        width: 250px;
        position: absolute;
        top: 20%;
        left: 0%;
        transform-style: preserve-3d;
        animation: animate 5s infinite;
    }
}